@import url('https://fonts.googleapis.com/css?family=Work+Sans');

.main-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    font-family: 'Work Sans', sans-serif !important;
}

.main-wrapper_background {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: skewY(3deg);
    transform-origin: 2;
    background: #f2994a; 
    background: -webkit-linear-gradient(to bottom, #f2994a, #f2c94c); 
    background: linear-gradient(to bottom, #f2994a, #f2c94c); 
    position: relative;
    top: -5rem;
    max-width: 100vw;
}

.main-wrapper_content {
    color: #fff;
    margin: 2rem auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
}

.main-wrapper_menu {
    max-height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.main-wrapper_menu img {
    height: 100%;
}

.main-wrapper_menu_content {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-wrapper_menu_content a {
    color: #fff;
    font-size: 1rem;
    margin: 0 1rem;
    transition: all .1s ease-in-out;
}

.main-wrapper_menu_content a:hover {
    color: #EEF0F0;
}

.main-wrapper_info {
    min-height: 80vh;
    width: 48%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.main-wrapper_info h2 {
    font-size: 2.85rem;
}

.main-wrapper_info h3 {
    font-size: 1.25rem;
    font-weight: 100;
    line-height: 2rem;
}

.ui.basic.button.main-wrapper_content_github {
    color: #fff!important;
    background: #000 !important;
    border: none;
    font-size: 1.125rem;
    padding: 1.5rem 2rem;
    margin-top: 4rem;
    width: 40%;
}

.ui.basic.button.main-wrapper_content_github:hover,
.ui.basic.button.main-wrapper_content_github:active,
.ui.basic.button.main-wrapper_content_github:focus {
    color: #fff!important;
    box-shadow: none;
    background: #000 !important;
}

.ui.basic.button.main-wrapper_content_github i {
    font-size: 1.5rem;
}

.main-wrapper_img {
    height: 100%;
    width: 52%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
}

.main-wrapper_img img {
    width: 100%;
}

@media only screen and (max-width: 40em) { 
    .main-wrapper {
        width: 70vh;
    }
    .main-wrapper_content {
        margin: 1rem auto;
        width: 90%;
    }
    .main-wrapper_info {
        min-height: 70vh;
        width: 100%;
    }
    .main-wrapper_info h2 {
        font-size: 2.2rem;
    }
    .main-wrapper_info h3 {
        font-size: 1.2rem;
    }
    .main-wrapper_img {
        height: 100%;
        width: 100%;
    }
    .ui.basic.button.main-wrapper_content_github {
        font-size: 1.35rem;
        margin-top: 2rem;
        width: 100%;
    }
}