body {
  margin: 0px;
  font-size: 14px;
  font-family: arial;
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
}
.fullscreen, #root, .app {
  height: 100vh;
}
.logo img {
  width: 160px;
}
.app > div {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.ui.list, .ui.menu {
  margin: 0px;
  height: 4.5em;
}
.ui.grid.main {
  margin-top: 0px;
  height: calc(100% - 4.5em);
}
.actions {
  padding: 1rem 0px 1rem 1rem;
  display: flex;
  box-sizing: content-box;
  height: 40px;
  background: white;
  margin-top: 1px;
  z-index: 1;
  position: sticky;
  top: 0px;
}
.search {
  width: 100%;
  margin-right: 1em;
}
.sidemenu{
  height: calc(100vh - 2.85714286em);
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 100%;
}
.sidemenu .ui.celled.list > .item {
  padding: 1em .5em;
  cursor: pointer;
}
.sidemenu .ui.celled.list > .item.active {
  background-color: #eaeff5;
}
.sidemenu .ui.celled.list > .item:hover button.delete-note {
  opacity: 1;
}
button.delete-note {
  opacity: 0;
  transition: all .3s ease-in-out;
}
.ui.grid > .column:not(.row) {
  padding-top: 0px;
}
.CodeMirror {
  height: 94vh;
  width: 100%;
}
.react-codemirror2{
  height: calc(100vh - 9.2em);
  overflow: hidden;
}