.fullscreen, #root, .app {
  height: 100vh;
}
.app > div {
  height: 100vh;
  overflow: hidden;
}
.ui.list, .ui.menu {
  margin: 0px;
}
.ui.grid.main {
  margin-top: 0px;
}
.sidemenu {

}
.ui.grid > .column:not(.row) {
  padding-top: 0px;
}
.CodeMirror {
  height: 94vh;
}